body {
    font-family: 'Rubik', sans-serif;
}

.d-none {
    display: none;
}

.quiz-card {
    width: 35rem !important;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main a{
    text-decoration: none;
    
}

.navbar {
    background-color: #444444;
    min-height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;    
}

.navbar a{
    color: white;
}

.choose-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.responsive-nav-container {
    display: none;
}

.nav-headline {
    margin-bottom: 100px;
}

.nav-headline img {
    cursor: pointer;
}

.categories-headline {
    margin-bottom: 30px;
}

.categories {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    font-size: 24px;
    transition: all 125ms ease-in-out;
}

.categories:hover {
    cursor: pointer;
    background-color: #529EE4;
    color: black;
    border-radius: 5px;
    transition: all 125ms ease-in-out;
}

.main-container {
    min-height: 100vh;
    width: 100%;
    background-color: #529EE4 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    text-align: center;
    margin-bottom: 5%;
}

.progress {
    margin-bottom: 1%;
    border-radius: 0%;
}

.answer-button {
    border: 0.1px solid lightgrey;
    background-color: white;
}

.answer-button:hover {
    background-color: rgba(0,0,0,0.1);

}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top: 12px;
    display: flex;
    align-items: center;
}

.next-question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-answer-card-index {
    transition: all 125ms ease-in-out;
}

.quiz-answer-card-index a{
    color: black;
} 

.quiz-answer-card-index:hover {    
    cursor: pointer;
    background-color: #529EE4;
    transition: all 125ms ease-in-out;
}

.quiz-answer-card {
    transition: all 125ms ease-in-out;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
    transition: all 125ms ease-in-out;
}

.bg-success, .bg-danger {
    color: white;
}

.card-body-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;        
}

.card-body-end img{
    width: 100%;
    height: 30vh;
    padding: 1rem 1rem;
}

.restart-button {
    margin-top: 3%;
}